<label class="form-input" for="password">
    Password
    <div class="input">
        <input type="password" id="password" autocomplete="password" />
        <button aria-pressed="false" type="button" id="reveal-password">
            <span data-text-visible="">Reveal</span> 
            <span class="vh">password</span>
        </button>
    </div>
</label>