<label for="password">
    Password
    <input type="password" id="password" autocomplete="password" />
    <button aria-pressed="false" type="button" id="reveal-password">
        Reveal
    </button>
</label>